
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Book Recommendations - Home</title>

   
    <link href="{%static 'css/cover.css'%}" type="text/css" rel="stylesheet">
    <!-- Favicons -->

<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
 
    <link href="{%static 'css/bookcover.css'%}" type="text/css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <!--<h3 class="masthead-brand">Home Page</h3> -->
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="moviecover.html" target="_blank">Movies</a>
        
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Search for any book!</h1>
    <p class="lead" ><b>Bored and don't know what to read? Enter a book you like and we'll see if we can tell you what to read next!</b></p>
    <p class="lead">
        
        <label for="inputBook" class="sr-only">book</label>
        <input type="text" name="inputBook" id="inputBook" class="form-control" placeholder="Enter book name" required autofocus>
      <input type="submit" class="btn btn-lg btn-secondary" value="Give me some books!" >
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
     
    </div>
  </footer>
</div>
</body>
</html>
